html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

p,
a,
span,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
}

.monsterrat {
  font-family: "Montserrat", sans-serif;
}

.pt {
  font-family: "PT Serif", serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-divider {
  border: 1px solid #979797;
  opacity: 0.18;
  margin: 0;
}

.bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.more-info {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.423077px;
  line-height: 13px;
  font-weight: 600;
  font-size: 11px;
  border-bottom: 1px solid #ceaf83;
}

/*COVIDE BAR*/

.covid {
  text-align: center;
  background: #002b15;
  padding: 13px 0;

  span {
    background: #043d20;
    font-weight: 500;
    padding: 5px 19px;
    margin-right: 10px;
  }

  p {
    line-height: 13px;
    font-size: 11px;
    color: #fff;
  }
}

.head_contacts {
  .row {
    justify-content: space-between;
    align-items: center;
  }

  .contacts ul {
    li {
      font-size: 13px;
      color: #787878;
    }

    span {
      font-size: 14px;
      color: #ceaf83;
      font-weight: 500;
    }
  }

  .lawyer {
    background: #ceaf83;
    height: 70px;
    width: 240px;

    p {
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.461538px;
    }
  }
}

/*HEADER NAV*/
.head_nav {
  .navbar-nav {
    .link {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #212326;
    }
  }
}

/*HOME PAGE*/

.home_banner {
  background-image: url(../images/banner.png);
  height: 888px;

  .banner_caption {
    .left {
      position: relative;

      .caption {
        margin: 70px;
      }

      .head h1 {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #d5b88a;
        letter-spacing: 0.923077px;
      }

      .head p {
        font-weight: normal;
        font-size: 34px;
        line-height: 51px;
        color: #fff;
        margin-top: 23px;
      }

      .bottom {
        bottom: 0;
        position: absolute;
        margin-bottom: 80px;

        p {
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #d5b88a;
          margin-bottom: 23px;
        }

        .categ li a {
          color: #fff;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.461538px;
        }
      }
    }

    .right {
      position: relative;
      background: #f5f2e9;
      height: 888px;

      .container {
        max-width: 820px;
      }

      .logo {
        .line {
          width: 182px;
          border: 1px solid #d4d7c4;
        }
      }

      .testimonial {
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        color: #144e2c;
      }

      .statement {
        width: 584px;
        margin: 25px auto;
      }

      .row {
        border-top: 1px solid rgba(212, 197, 164, 0.37);
      }

      .selector {
        position: absolute;
        bottom: 0;
      }

      .testi_p {
        font-size: 16px;
        line-height: 21px;
        text-align: left;
        color: #292c31;
        opacity: 0.46;
        padding: 0;

        .category {
          font-size: 13px;
          line-height: 16px;
        }
      }

      .testi_p.active {
        border-top: 1px solid rgb(212, 197, 164);
        color: #212326;
        opacity: 1;

        .category {
          opacity: 0.66;
        }
      }

      .testi_all p {
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.423077px;
        color: #212326;
      }

      .testi_p,
      .testi_all {
        padding-top: 35px;
      }
    }
  }
}

/*CATEG CARDS*/

.category {
  margin: 150px 0;

  .container {
    max-width: 1200px;
  }

  .card {
    border: none;
    border-radius: 0;
    background: #f5f2e9;

    .card-body {
      margin: 30px;
    }

    h2 {
      font-size: 24px;
      line-height: 37px;
      color: #144e2c;
    }

    .more_link {
      color: #144e2c;
    }
  }

  /*MORE SERVICES*/

  .more {
    .logo {
      position: absolute;
      margin: 35px;
    }

    .card {
      background-image: url(../images/spiral1.png);
      background-size: cover;
      height: 450px;
    }

    h4 {
      position: absolute;
      bottom: 0;
      padding: 35px;
      font-size: 34px;
      line-height: 49px;
      color: #ceaf83;

      .arrow {
        margin-left: 50px;
      }
    }
  }
}

/*ABOUT US*/

.about_us {
  position: relative;
  background: #f5f2e9;

  .container-fluid {
    padding-bottom: 50px;
  }

  .spiral {
    position: absolute;
    bottom: 0;
  }

  .row {
    justify-content: flex-end;
  }

  .content {
    margin: 0 60px;

    .head {
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 1px;
      color: #ceaf83;
    }

    h1 {
      font-size: 34px;
      line-height: 49px;
      color: #144e2c;
      margin-top: 42px;
    }

    p {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.538462px;
      opacity: 0.8;
      margin-top: 38px;
      margin-bottom: 32px;
      max-width: 80%;
    }

    .more-info {
      color: #0e582f;
    }
  }

  .brand {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }

  .method {
    background: #fff;
    max-width: 853px;
    margin: 80px auto;

    .row {
      justify-content: space-between;
    }

    .left {
      background-image: url(../images/banner.png);
      background-position: left;
      height: 210px;
    }

    .right {
      margin: 0;
    }

    .content {
      margin: 0;

      h4 {
        font-size: 18px;
        line-height: 26px;
        color: #4b5561;
        width: 85%;
        //margin-bottom: 45px;
      }
    }
  }
}

/*TESTIMONIALS*/

.testimonials {
  background: #002b15;

  .left {
    background-image: url(../images/testimonial.png);
    height: 485px;
    cursor: pointer;
  }

  .right {
    cursor: pointer;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .content {
    text-align: center;

    h4 {
      font-size: 34px;
      line-height: 48px;
      text-align: center;
      color: #ffffff;
    }

    p {
      color: #dbbf91;
      font-size: 18px;
      line-height: 22px;
    }

    .more-info {
      position: relative;
      left: 0;
      right: 0;
      bottom: -60px;
      color: #ffffff;
    }
  }
}

.location {
  .left {
    background: #f5f2e9;

    .container {
      max-width: 700px;
    }
    .cities {
      background: #fff;
      justify-content: flex-start;

      a {
        font-size: 18px;
        line-height: 24px;
        color: #292c31;
        opacity: 0.43;
        padding: 25px 70px;
      }

      .active {
        color: #24272b;
        border-bottom: 1px solid #d4c5a4;
        opacity: 1;
      }
    }
    .address {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.692308px;
      color: #000;
      opacity: 0.72;
    }

    .tel {
      font-weight: bold;
    }

    .contact {
      margin: 50px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .more-info {
      color: #144e2c;
    }
    .banner {
      img {
        width: 100%;
      }
    }
  }

  .map {
    img {
      width: 100%;
    }
  }
}

/*FOOTER*/

footer {
  .footer_nav {
    .navbar-nav {
      .link {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #212326;
      }
    }
  }
}

/*














































*/
