html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden; }

p,
a,
span,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

li {
  list-style: none; }

a {
  color: black; }

a:hover {
  color: black;
  text-decoration: none; }

.uppercase {
  text-transform: uppercase; }

.container {
  max-width: 1600px;
  margin: 0 auto; }

.container-fluid {
  padding: 0; }

.monsterrat {
  font-family: "Montserrat", sans-serif; }

.pt {
  font-family: "PT Serif", serif; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.h-divider {
  border: 1px solid #979797;
  opacity: 0.18;
  margin: 0; }

.bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.more-info {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.423077px;
  line-height: 13px;
  font-weight: 600;
  font-size: 11px;
  border-bottom: 1px solid #ceaf83; }

/*COVIDE BAR*/
.covid {
  text-align: center;
  background: #002b15;
  padding: 13px 0; }
  .covid span {
    background: #043d20;
    font-weight: 500;
    padding: 5px 19px;
    margin-right: 10px; }
  .covid p {
    line-height: 13px;
    font-size: 11px;
    color: #fff; }

.head_contacts .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.head_contacts .contacts ul li {
  font-size: 13px;
  color: #787878; }

.head_contacts .contacts ul span {
  font-size: 14px;
  color: #ceaf83;
  font-weight: 500; }

.head_contacts .lawyer {
  background: #ceaf83;
  height: 70px;
  width: 240px; }
  .head_contacts .lawyer p {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.461538px; }

/*HEADER NAV*/
.head_nav .navbar-nav .link {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #212326; }

/*HOME PAGE*/
.home_banner {
  background-image: url(../images/banner.png);
  height: 888px; }
  .home_banner .banner_caption .left {
    position: relative; }
    .home_banner .banner_caption .left .caption {
      margin: 70px; }
    .home_banner .banner_caption .left .head h1 {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #d5b88a;
      letter-spacing: 0.923077px; }
    .home_banner .banner_caption .left .head p {
      font-weight: normal;
      font-size: 34px;
      line-height: 51px;
      color: #fff;
      margin-top: 23px; }
    .home_banner .banner_caption .left .bottom {
      bottom: 0;
      position: absolute;
      margin-bottom: 80px; }
      .home_banner .banner_caption .left .bottom p {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #d5b88a;
        margin-bottom: 23px; }
      .home_banner .banner_caption .left .bottom .categ li a {
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.461538px; }
  .home_banner .banner_caption .right {
    position: relative;
    background: #f5f2e9;
    height: 888px; }
    .home_banner .banner_caption .right .container {
      max-width: 820px; }
    .home_banner .banner_caption .right .logo .line {
      width: 182px;
      border: 1px solid #d4d7c4; }
    .home_banner .banner_caption .right .testimonial {
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      color: #144e2c; }
    .home_banner .banner_caption .right .statement {
      width: 584px;
      margin: 25px auto; }
    .home_banner .banner_caption .right .row {
      border-top: 1px solid rgba(212, 197, 164, 0.37); }
    .home_banner .banner_caption .right .selector {
      position: absolute;
      bottom: 0; }
    .home_banner .banner_caption .right .testi_p {
      font-size: 16px;
      line-height: 21px;
      text-align: left;
      color: #292c31;
      opacity: 0.46;
      padding: 0; }
      .home_banner .banner_caption .right .testi_p .category {
        font-size: 13px;
        line-height: 16px; }
    .home_banner .banner_caption .right .testi_p.active {
      border-top: 1px solid #d4c5a4;
      color: #212326;
      opacity: 1; }
      .home_banner .banner_caption .right .testi_p.active .category {
        opacity: 0.66; }
    .home_banner .banner_caption .right .testi_all p {
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 0.423077px;
      color: #212326; }
    .home_banner .banner_caption .right .testi_p,
    .home_banner .banner_caption .right .testi_all {
      padding-top: 35px; }

/*CATEG CARDS*/
.category {
  margin: 150px 0;
  /*MORE SERVICES*/ }
  .category .container {
    max-width: 1200px; }
  .category .card {
    border: none;
    border-radius: 0;
    background: #f5f2e9; }
    .category .card .card-body {
      margin: 30px; }
    .category .card h2 {
      font-size: 24px;
      line-height: 37px;
      color: #144e2c; }
    .category .card .more_link {
      color: #144e2c; }
  .category .more .logo {
    position: absolute;
    margin: 35px; }
  .category .more .card {
    background-image: url(../images/spiral1.png);
    background-size: cover;
    height: 450px; }
  .category .more h4 {
    position: absolute;
    bottom: 0;
    padding: 35px;
    font-size: 34px;
    line-height: 49px;
    color: #ceaf83; }
    .category .more h4 .arrow {
      margin-left: 50px; }

/*ABOUT US*/
.about_us {
  position: relative;
  background: #f5f2e9; }
  .about_us .container-fluid {
    padding-bottom: 50px; }
  .about_us .spiral {
    position: absolute;
    bottom: 0; }
  .about_us .row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .about_us .content {
    margin: 0 60px; }
    .about_us .content .head {
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 1px;
      color: #ceaf83; }
    .about_us .content h1 {
      font-size: 34px;
      line-height: 49px;
      color: #144e2c;
      margin-top: 42px; }
    .about_us .content p {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.538462px;
      opacity: 0.8;
      margin-top: 38px;
      margin-bottom: 32px;
      max-width: 80%; }
    .about_us .content .more-info {
      color: #0e582f; }
  .about_us .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0; }
  .about_us .method {
    background: #fff;
    max-width: 853px;
    margin: 80px auto; }
    .about_us .method .row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .about_us .method .left {
      background-image: url(../images/banner.png);
      background-position: left;
      height: 210px; }
    .about_us .method .right {
      margin: 0; }
    .about_us .method .content {
      margin: 0; }
      .about_us .method .content h4 {
        font-size: 18px;
        line-height: 26px;
        color: #4b5561;
        width: 85%; }

/*TESTIMONIALS*/
.testimonials {
  background: #002b15; }
  .testimonials .left {
    background-image: url(../images/testimonial.png);
    height: 485px;
    cursor: pointer; }
  .testimonials .right {
    cursor: pointer;
    position: relative; }
    .testimonials .right img {
      position: absolute;
      top: 0;
      left: 0; }
  .testimonials .content {
    text-align: center; }
    .testimonials .content h4 {
      font-size: 34px;
      line-height: 48px;
      text-align: center;
      color: #ffffff; }
    .testimonials .content p {
      color: #dbbf91;
      font-size: 18px;
      line-height: 22px; }
    .testimonials .content .more-info {
      position: relative;
      left: 0;
      right: 0;
      bottom: -60px;
      color: #ffffff; }

.location .left {
  background: #f5f2e9; }
  .location .left .container {
    max-width: 700px; }
  .location .left .cities {
    background: #fff;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .location .left .cities a {
      font-size: 18px;
      line-height: 24px;
      color: #292c31;
      opacity: 0.43;
      padding: 25px 70px; }
    .location .left .cities .active {
      color: #24272b;
      border-bottom: 1px solid #d4c5a4;
      opacity: 1; }
  .location .left .address {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.692308px;
    color: #000;
    opacity: 0.72; }
  .location .left .tel {
    font-weight: bold; }
  .location .left .contact {
    margin: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .location .left .more-info {
    color: #144e2c; }
  .location .left .banner img {
    width: 100%; }

.location .map img {
  width: 100%; }

/*FOOTER*/
footer .footer_nav .navbar-nav .link {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #212326; }

/*














































*/
